.form {
    display: block;
    margin-top: 0em;
    display: inline;
    width:100%;
    height:auto;
}

.button {
    background-color: blue; /* Green */
    border:1cm;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }